VITE_SUPABASE_URL=https://juvuvavtzjelhyphetlg.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_ssT-UFSHpMV2YRkU3-xuuw_o3dlf7yo
VITE_POWERSYNC_URL=https://your-instance.powersync.journeyapps.com
VITE_POWERSYNC_DEV_TOKEN=